{% extends 'base.html' %}

{% block content %}
    <div class="resource-list">
        <h2>Resources </h2>
        <div class="scrolling">
        {% if resources %}
            <ul>
                {% for resource in resources %}
                    <li>
                        
                        <span>{{ resource.file_name }}</span>
                        <button onclick="window.open('{{ resource.link }}', '_blank')" class="link_button">
                            Open 
                        </button>                        
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No resources available.</p>
        {% endif %}
    </div>
    </div>
{% endblock %}
